@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    grid-gap: 10px;
    font-family: Arial, sans-serif;
    background-color: #00000031;
}

#image-holder {
    height: 160vh;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#trans-bar {
    margin-top: 140px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 20vh;
    text-align: center;
    position: relative;
}

#trans-bar img {
    width: 80px;
    top: 10px;
    right: 280px;
    position: absolute;
}

.trans-text {
    font-family: 'Norse-Bold', sans-serif;
    color: white;
    font-size: 100px;
    padding-top: 13px;
    margin-left: 90px;
}

.text-holder {
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 100px;
    margin-bottom: 70px;
}

form {
    padding-left: 35px;
}

label {
    font-size: 15px;
    font-family: 'Courier New', monospace;
}

input {
    width: 17vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    background-color: rgb(238, 214, 183);
}

input:invalid {
    background-color: rgb(252, 151, 151);
}

.create-account-btn {
    margin-top: 70px;
    color: white;
    background-color: #596D48;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    width: 15vw;
    height: 8vh;
}

.create-account-btn:hover {
    color: black;
    background-color: #596d48b9;
}

span {
    color: #596D48;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}